* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  font-size: 18px;
  max-width: 1200px;
}

.full-width {
  width: 100vw;
  position: relative;
  bottom: 0;
  right: 0;
  margin-left: -50vw;
  margin-right: -25vw;
}

.full-width-left {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

section {
  margin-bottom: 6rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
  display: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
}

.modal {
  width: 100%;
  height: 120%;
  position: relative;
  background-color: #252b46;
  opacity: 0.7;
  border: 1px solid #778;
  z-index: 10;
  display: block;
}

.modalHeader {
  display: flex;
  padding-top: 3rem;
  padding-left: 2.45rem;
  width: 100%;
  align-items: center;
  display: block;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.hidden {
  display: none;
}

details {
  margin-top: 1rem;
  color: #9194a1;
}

* {
  font-family: "Rubik", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #252b46;
}

p {
  color: #9194a1;
}

body > main > section:nth-child(4) > div > div:nth-child(3) > details {
  color: #9194a1;
}

header {
  display: flex;
  padding-top: 3rem;
  padding-left: 0.5rem;
  width: 100%;
  align-items: center;
}
header .logo-container {
  width: 90%;
  position: relative;
  z-index: 11;
}
header .logo-container .menu-container {
  width: 10%;
  justify-self: end;
  z-index: 11;
  font-size: 1.75rem;
  color: white;
}

.menu-container button {
  background: none;
  border: none;
}

body > header > div.menu-container {
  position: relative;
  z-index: 11;
}

.modalactive {
  fill: #fff;
}

.menu-nav-container {
  display: flex-block;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
}

.menu-nav li {
  color: #fff;
  padding: 1rem 0;
  width: 80%;
  text-transform: uppercase;
  margin: 0 auto;
}

nav > ul > hr {
  width: 80%;
  color: lightgray;
  margin: 0 auto;
  opacity: 0.2;
}

.menulogin {
  font-size: 1.125rem;
  color: white;
  width: 80%;
  border: solid 3px white;
  background: none;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
}

.menu.social-icons {
  position: absolute;
  bottom: 20%;
  left: 35%;
}

.desktop-nav-container {
  display: none;
}

.landing-section {
  margin-bottom: 5rem;
}

.landing-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3rem 0 auto;
}
.landing-container .landing-hero-right {
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
}
.landing-container .landing-hero-right .hero-image {
  width: 100%;
  margin: 0 auto;
  height: auto;
  position: relative;
  z-index: 5;
}

.landing-hero-left {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.landing-hero-left h1 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 2rem;
  color: #252b46;
}

.landing-text-container {
  width: 100%;
  text-align: center;
  padding: 1rem;
  line-height: 1.5;
}
.landing-text-container p {
  font-size: 1.2rem;
}

.landing-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.landing-button-container .landing-cta-left {
  border: none;
  cursor: pointer;
  background-color: #5368df;
  padding: 1rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 0.5rem;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 5px 5px 15px 5px lightgray;
  color: white;
}

.landing-cta-right {
  border: none;
  cursor: pointer;
  background-color: white;
  border: solid 3px white;
  padding: 1rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 0.5rem;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 5px 5px 15px 5px lightgray;
  color: #9194a1;
}

.landing-cta-left:hover {
  background-color: white;
  border: solid 3px #5368df;
  color: #5368df;
}

.landing-cta-right:hover {
  color: #252b46;
  border: solid 3px #252b46;
}

.shape-div {
  height: 10.938rem;
  width: 19.625rem;
  background-color: #5368df;
  position: absolute;
  bottom: 0%;
  z-index: 1;
  overflow: hidden;
  border-bottom-left-radius: 50%;
}

.features-title {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.features-text-container {
  width: 100%;
}
.features-text-container p {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.tab {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.tablinks {
  border: none;
  background-color: white;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.125rem;
  position: relative;
  color: #252b46;
}

.tablinks.activated::after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 1px;
  width: 50%;
  /* or 100px */
  border-bottom: 4px solid #fa5757;
}

hr {
  color: lightgray;
}

.tablinks:last-child {
  margin-bottom: 2rem;
}

.tab-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabcontainer {
  display: flex;
  width: 100%;
  position: relative;
}

.tabimgcontainer {
  width: 50%;
  height: auto;
  position: relative;
  margin-bottom: 3rem;
}

.tab-img {
  width: 90%;
  position: relative;
  height: auto;
  z-index: 10;
}

.features-shape-div {
  height: 10.938rem;
  width: 19.625rem;
  background-color: #5368df;
  position: absolute;
  bottom: -10%;
  left: 50%;
  z-index: -1;
  border-bottom-right-radius: 50%;
}

.tabcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.tabcontent h3 {
  font-size: 1.6rem;
}

.tab-content h3, .tabcontent p {
  text-align: center;
  padding: 1rem 0;
}

.tab-button {
  border: none;
  background-color: #5368df;
  padding: 1rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1rem 0;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 5px 5px 15px 5px lightgray;
  color: white;
  width: 35%;
}

.tablinks.activated::after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  height: 1px;
  width: 50%;
  /* or 100px */
  border-bottom: 4px solid #fa5757;
}

.downloads-title h4 {
  font-size: 1.5rem;
}

.downloads-title h4, .downloads-text p {
  text-align: center;
  padding: 0 0 1rem 0;
}

.downloads-text {
  margin-bottom: 4rem;
}

.downloads-card {
  width: 99%;
  box-shadow: 0 5px 5px 5px lightgray;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.downloads-card-img {
  height: auto;
  padding: 3rem 1rem 1rem 1rem;
}

.downloads-card-img img {
  margin: 0 auto;
}

.downloads-card-title h5 {
  font-size: 1.5rem;
  text-align: center;
}

.downloads-card-title p {
  padding: 1rem 0;
}

.card-button-container {
  padding: 1rem 0;
}

.card-button-container button {
  border: none;
  background-color: #5368df;
  color: white;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 0.5rem;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 5px 5px 15px 5px lightgray;
}

.faq-title h6 {
  font-size: 1.5rem;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
}

.faq-text p {
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
}

.accordian-container {
  padding: 1rem 1rem;
  border-bottom: solid 1px lightgray;
}

.accordian-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  color: #252b46;
}

.accordian-title:hover {
  color: #fa5757;
}

.faq-button-container {
  margin: 2.5rem auto;
  display: flex;
  justify-content: center;
}

.faq-button-container button {
  border: none;
  background-color: #5368df;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 0.5rem;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 5px 5px 15px 5px lightgray;
}

svg.flippy {
  transform: rotate(180deg);
}

.flippy path {
  stroke: #fa5757;
}

.cta-section {
  background-color: #5368df;
  background-size: cover;
  position: relative;
  margin: 0 0 1.7rem 0;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cta-title-container {
  padding: 1rem;
}

.form-container {
  width: 100%;
}

.cta-title-container h6, .cta-title-container p {
  text-align: center;
  padding-bottom: 0.5rem;
  color: white;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 0.9rem;
}

.cta-title-container h6 {
  font-size: 1.5rem;
}

div.form-container > form > input[type=email]:nth-child(1) {
  display: block;
  padding: 0.5rem;
  margin: 2rem 0;
  width: 100%;
}

div.form-container > form > input[type=submit]:nth-child(2) {
  width: 100%;
  border: none;
  background-color: #fa5757;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 1rem;
}

.background-div-footer {
  height: 120%;
  width: 150%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  background-color: #252b46;
}

footer {
  background-color: #252b46;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icons {
  padding: 1rem 1rem;
}

.icons svg path {
  fill: white;
}

.background-div {
  height: 120%;
  width: 150%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  background-color: #5368df;
}

.bottom-nav li {
  padding: 1rem 0;
  color: white;
}

@media (min-width: 1068px) {
  .hamburger {
    display: none;
  }

  .logo-container {
    width: 66% !important;
  }

  .desktop-nav-container {
    width: 33%;
    display: block;
  }

  .desktop-menu-nav {
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
  }

  .desktop-menu-nav li {
    padding: 0 1rem 0 1rem;
    color: #252b46;
  }

  .desktop-menu-nav li:hover {
    color: #fa5757;
  }

  .desktopmenulogin {
    width: 100%;
    color: white !important;
    border: solid 3px #fa5757;
    background: #fa5757;
    text-transform: uppercase;
    padding: 0.5rem 1rem !important;
    border-radius: 5px;
  }

  .desktopmenulogin:hover {
    background-color: white;
    color: #fa5757 !important;
  }

  .landing-container {
    flex-direction: row;
  }

  .landing-title-container h1 {
    font-size: 3.5rem;
    text-align: left;
  }

  .landing-text-container p {
    text-align: left;
  }

  .landing-hero-right {
    order: 2;
  }

  .landing-button-container {
    justify-content: flex-start;
  }

  .shape-div {
    height: 20rem;
    width: 40rem;
  }

  .features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .features-text-container p {
    width: 40%;
    margin: 1rem auto;
  }

  .tab {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    border-bottom: solid 2px lightgray;
    margin: 2rem auto 5rem auto;
  }

  .tab hr {
    display: none;
  }

  .tablinks {
    margin-right: 4rem;
  }

  #bookMark {
    display: flex;
    flex-direction: row;
  }

  .tab-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tabimg {
    width: 100%;
  }

  .features-shape-div {
    height: 17.233rem;
    width: 26.625rem;
    border-bottom-right-radius: 50%;
    padding-bottom: 2rem;
    overflow-x: hidden;
  }

  .tabcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
    align-items: baseline;
    width: 50% !important;
  }

  .tabcontent p, .tabcontent h3 {
    text-align: left;
  }

  .tabimgcontainer {
    width: 50% !important;
  }

  .downloads-text p {
    width: 55%;
    margin: 0 auto;
  }

  .downloads-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .downloads-card {
    width: 30%;
    margin: 0 1rem;
  }

  .downloads-card-container > div:nth-child(1) {
    margin-bottom: 8rem;
  }

  div.downloads-card-container > div:nth-child(2) {
    margin-bottom: 4rem;
  }

  .faq-text {
    width: 50%;
    margin: 0 auto 3rem auto;
  }

  .accordian-container {
    width: 50%;
    margin: 0 auto;
  }

  form {
    display: flex;
    width: 50%;
    margin: 0 auto 3rem auto;
    align-items: center;
  }

  div.form-container > form > input[type=email]:nth-child(1) {
    display: inline-block;
    width: 50%;
    padding: 1rem 0.5rem;
    margin: 0 1rem;
    border-radius: 5px;
    border: none;
  }

  body > main > section.cta-section > div > div.form-container > form > input[type=submit]:nth-child(2) {
    border: none;
    background-color: #fa5757;
    padding: 1rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1rem 0;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    width: 35%;
  }

  footer {
    flex-direction: row;
    width: 100%;
  }

  div.footer-title {
    width: 66%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .bottom-nav-container {
    width: 33%;
  }

  .bottom-nav {
    display: flex;
    margin-left: 2rem;
  }

  .bottom-nav li {
    padding-left: 2rem;
    text-transform: uppercase;
    color: #9194a1;
    font-size: 1rem;
  }

  footer .social-icons {
    width: 33%;
    justify-content: flex-end;
  }
}

/*# sourceMappingURL=output.css.map */
