@media (min-width: 1068px) {
    //header
    .hamburger{
        display: none;
    }
    .logo-container{
        width: 66%!important;
    }
    .desktop-nav-container{
        width: 33%;
        display: block;
    }
    .desktop-menu-nav{
        display: flex;
        flex-direction: row;
        color: black;
        align-items: center;
    }
    .desktop-menu-nav li {
        padding: 0 1rem 0 1rem;
        color: $darkblue;
    }
    .desktop-menu-nav li:hover{
        color: $softred;
    }
    .desktopmenulogin{
        width: 100%;
        color: white!important;
        border: solid 3px $softred;
        background: $softred;
        text-transform: uppercase;
        padding: .5rem 1rem!important;
        border-radius: 5px;;
    }
    .desktopmenulogin:hover{
        background-color: white;
        color: $softred!important;
    }

    //landing
    .landing-container{
        flex-direction: row;
    }
    .landing-title-container h1{
        font-size: 3.5rem;
        text-align: left;
    }
    .landing-text-container p{
        text-align: left;
    }
    .landing-hero-right{
        order: 2;
    }
    .landing-button-container{
        justify-content:flex-start;
    }
    .shape-div{
        height: 20rem;
        width: 40rem;
    }
    //features
    .features-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features-text-container p{
        width: 40%;
        margin: 1rem auto;
        
    }
    .tab{
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 75%;
        border-bottom: solid 2px lightgray;
        margin: 2rem auto 5rem auto;
    }
    .tab hr{
        display: none;
    }
    .tablinks{
        margin-right: 4rem;
    }
    #bookMark{
        display: flex;
        flex-direction: row;
    }
    .tab-img-container{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .tabimg{
        width: 100%;
    }
    .features-shape-div{
        height: 17.233rem;
        width: 26.625rem;
        border-bottom-right-radius: 50%; 
        padding-bottom: 2rem;
        overflow-x: hidden;
    }
    .tabcontent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5rem;
        align-items: baseline;;
        width: 50%!important;
        
    }
    .tabcontent p, .tabcontent h3{
        text-align: left;
    }
    .tabimgcontainer{
        width: 50%!important;
    }
   
    //downloads
    .downloads-text p{
        width: 55%;
        margin: 0 auto;
    }
    .downloads-card-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .downloads-card{
        width: 30%;
        margin: 0 1rem;
    }
    .downloads-card-container > div:nth-child(1){
        margin-bottom: 8rem;
    }
    div.downloads-card-container > div:nth-child(2){
        margin-bottom: 4rem;
    }
    //faq
    .faq-text{
        width: 50%;
        margin: 0 auto 3rem auto;
    }
    .accordian-container{
        width: 50%;
        margin: 0 auto;
    }
    //cta section
    form{
        display: flex;
        width: 50%;
        margin: 0 auto 3rem auto;
        align-items: center;

    }
    div.form-container > form > input[type=email]:nth-child(1){
        display: inline-block;
        width: 50%;
        padding: 1rem .5rem;
        margin: 0 1rem;
        border-radius: 5px;
        border: none;
    }
    body > main > section.cta-section > div > div.form-container > form > input[type=submit]:nth-child(2){
    border: none;
    background-color: $softred;
    padding: 1rem .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1rem 0;
    border-radius: 5px;
    font-size: 16px;
    color: white;;
    width: 35%;
    }
    //footer
    footer{
        flex-direction: row;
        width: 100%;
       
    }
    div.footer-title{
        width: 66%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .bottom-nav-container{
        width: 33%;
    }
    
    .bottom-nav {
        display: flex;
        margin-left: 2rem;
        
    }
    .bottom-nav li{
        padding-left: 2rem;
        text-transform: uppercase;
        color: $greyblue;
        font-size: 1rem;
    }
    footer .social-icons{
        width: 33%;
        justify-content: flex-end;;
    }
}
