.downloads-title h4{
    font-size: 1.5rem;
}
.downloads-title h4, .downloads-text p{
    text-align: center;
    padding: 0 0 1rem 0;
    
}
.downloads-text{
    margin-bottom: 4rem;
}
.downloads-card{
    width: 99%;
    box-shadow: 0 5px 5px 5px lightgray;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.downloads-card-img{
    height: auto;
    padding: 3rem 1rem 1rem 1rem;
}
.downloads-card-img img{
    margin: 0 auto;
}
.downloads-card-title h5{
    font-size: 1.5rem;
    text-align: center;

}
.downloads-card-title p {
    padding: 2rem 0;
}