.faq-title h6{
    font-size: 1.5rem;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
}
    .faq-text p{
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
}

.accordian-container{
  
    border-bottom: solid 1px lightgray;
}
#text{
    padding: 2rem 0!important;
}

.accordian-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    color: $darkblue;
}
.accordian-title:hover{
    color: $softred;
}

.faq-button-container{
    margin: 2.5rem auto;
    display: flex;
    justify-content: center;
    
}
.faq-button-container button{
    border:solid 2px transparent;
    background-color:$softblue;
    color: $white;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 5px 5px 15px 5px lightgray;
}
.faq-button-container button:hover{
    background-color: $white;
    color: $softblue;
    border: solid 2px $softblue;
}
svg.flippy{
    transform: rotate(180deg);
}
.flippy path{
    stroke: $softred;;
}