header{
    display: flex;
    padding-top: 3rem;
    padding-left: .5rem;
    width: 100%;
    align-items: center;
 
.logo-container{
    width: 90%;
    position: relative;
    z-index: 11;
.menu-container{
    width: 10%;
    justify-self: end;
    z-index: 11;
    font-size: 1.75rem;
    color: white;
}}}
.menu-container button{
    background: none;
    border: none;
    
}
body > header > div.menu-container{
    position: relative;
    z-index: 11;
}
.modalactive{
    fill: #fff;
}
//modal menu
.menu-nav-container{
    position:absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}
.menu-nav li {
    color: #fff;
    padding: 1rem 0;
    width: 100%;
    text-transform: uppercase;
}
nav > ul > hr {
    width: 80%;
    color: lightgray;
    margin: 0 auto;
    opacity: .2;
}
.menulogin{
    position: absolute;
    bottom: 35%;
    font-size: 1.125rem;
    width: 80%;
    left: 10%;
    color: white;
    border: solid 3px white;
    background: none;
    padding: .75rem 1.5rem;
    text-transform: uppercase;;
}
.menu.social-icons{
position: absolute;
bottom: 20%;
left: 35%;
}