.landing-section{
    margin-bottom: 5rem;
}
.landing-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3rem 0 auto;
    
.landing-hero-right{
 width: 100%;
 position: relative;
 margin-bottom: 3rem;
.hero-image{
    width: 100%;
    margin: 0 auto;
    height: auto;
    position:relative;
    z-index: 5;
}}}
.landing-hero-left{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
h1{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 2rem;
    color: $darkblue;
}}
.landing-text-container{
    width: 100%;
    text-align: center;
    padding: 1rem;
    line-height: 1.5;
p{
    font-size: 1.2rem;
}}
.landing-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
.landing-cta{ 
    border: none;
    background-color: white;
    padding: 1rem .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 5px 5px 15px 5px lightgray;
    color: $darkblue;
}}
.landing-cta:hover{
    background-color: $softblue;
    color: white;
}
.shape-div{
    height: 10.938rem;
    width: 19.625rem;
    background-color: $softblue;
    position: absolute;
    bottom: 0%;
    right: 20%;
    z-index: 1;
    overflow: hidden;
    border-bottom-left-radius: 50%;
}