.landing-section{
    margin-bottom: 5rem;
}
.landing-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3rem 0 auto;
    
.landing-hero-right{
 width: 100%;
 position: relative;
 margin-bottom: 3rem;
.hero-image{
    width: 100%;
    margin: 0 auto;
    height: auto;
    position:relative;
    z-index: 5;
}}}
.landing-hero-left{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
h1{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: em(36px);
    color: $darkblue;
}}
.landing-text-container{
    width: 100%;
    text-align: center;
    padding: em(18px);
    line-height: 1.5;
p{
    font-size: 1.2rem;
}}
.landing-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
.landing-cta-left{ 
    width: 35%;
    border: none;
    cursor:pointer;
    @include bg-colors($ui-colors);
    background-color: $softblue;
    padding: 1rem .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 5px 5px 15px 5px $greyblue;
    color: $white;
}}
.landing-cta-right{
    width: 35%;
    border: none;
    cursor: pointer;
    background-color: $white;
    border: solid 3px $white;
    padding: 1rem .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 .5rem;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 5px 5px 15px 5px $greyblue;
    color:$greyblue;
}
.landing-cta-left:hover{
    background-color: white;
    border: solid 3px $softblue;
    color: $softblue;
}
.landing-cta-right:hover{
    color: $darkblue;
    border: solid 3px $darkblue;
}
.shape-div{
    height: 10.938rem;
    width: 19.625rem;
    background-color: $softblue;
    position: absolute;
    bottom: 0%;
    z-index: 1;
    overflow-x: hidden!important;
    border-bottom-left-radius: 40%;
}