*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 18px;
    max-width: 100%;
    overflow-x: hidden!important;
}
.full-width {
    width: 100vw;
    position: relative;
    bottom: 0;
    right: 0;
    margin-left: -50vw;
    margin-right: -25vw;
  }
.full-width-left{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
section{
    margin-bottom: 6rem;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    }
    .modal {
        width: 100%;
        height: 120%;
        position: relative;
        background-color: $darkblue;
        opacity: .7;
        border: 1px solid #778;
        z-index: 10;
        display: block;
        }
        .modalHeader{
            display: flex;
            padding-top: 3rem;
            padding-left: 2.45rem;
            width: 100%;
            align-items: center;
            display: block
        }
        .modal-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
            display: block
        }
.hidden{
    display: none;
}

details{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $greyblue;
}