* {
    font-family: 'Rubik', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: $darkblue;
}
p{
    color: $greyblue;
}
body > main > section:nth-child(4) > div > div:nth-child(3) > details{
    color: $greyblue;
}